doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-evergreen.min.js')
    script(src='/javascripts/chat.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content